*
!.gitignore
!/nvim
!/nvim/**/**
/nvim/plugin
/nvim/.DS_Store
!tmux/
!tmux/tmux.conf
!htop/
!zsh/*
!wezterm/
!wezterm/**/**
!kitty/
!kitty/**/**
*.bak
!sesh/
!sesh/**/**
!alacritty/
!alacritty/**/**

