*
!.gitignore
!/nvim
!/nvim/**/**
/nvim/plugin
/nvim/.DS_Store
!tmux/
!tmux/tmux.conf
!htop/
!zsh/
!zsh/**/**
!wezterm/
!wezterm/**/**
!kitty/
!kitty/**/**
*.bak
!sesh/
!sesh/**/**
!alacritty/
!alacritty/**/**
!install/
!install/**/**
!images/
!images/**/**
!lazygit/
!lazygit/config.yml
!starship/
!starship/**/**
!ghostty/
!ghostty/**/**
